<head>
    <style>
        #error-message {
            color: rgb(101, 4, 4);
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 0.5%;
        }
    </style>
</head>
<div id="error-message">
    <% if (message == undefined ) message ='' %>
    <%= message %>
</div>