<head>
    <style>
        #error-message {
            color: rgb(138, 0, 0);
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 0.5%;
            display:none;
        }
    </style>
</head>
<div id="error-message"> </div>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    let m = urlParams.get('message');
    document.getElementById('error-message').innerHTML = m;
    if (m != null) {
        document.getElementById('error-message').style.display = "block";
    }
</script>