<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <header>
            <img class="logo" src="/IMAGES/Flavoured-transformedd.png" alt="flavoured"/>
            <div class="menuOn">
                <img class="profileIcon" src="/IMAGES/acc.png" alt="profile"/>
                <div class="profileMenu">
                    <% if (user==''){ %>
                    <a href="/user/signup">SignUp</a>
                    <a href="/user/login">LogIn</a>
                    <% } else { %>
                        <div class="profileHeader">
                            <a href="/user/myprofile">My Profile</a>
                        </div>
                        <div><a href='/logOut'> Log Out</a></div>
                        <% } %>
                     
                </div>
            </div>
        </header>
        <nav id="navbar">
            <a href="/">HOME</a>
            <a href="/store/1">STORE</a>
            <a href="/support">SUPPORT</a>
        </nav>
    <%-body%>
    <footer>
        <img src="/IMAGES/payment.png" alt="mastercard/visa" id="paymentCard"/>
        <p>
            FlaVoured is brought to you by: Moshir Ashraf , Abdulrahman Sherif ,
                    Khaled Yehia , Raghda Mahmoud and Moufid Magdy. Customer Satisfaction is
                    a 100% guaranteed. For more information, or special queries, please
                    don't hesitate to contact us.
        </p>

        <div class="contact">
            <img src="/IMAGES/email.png" alt="icon"/>
            flavouredmiu@gmail.com
        </div>
        <div class="contact">
            <img src="/IMAGES/facebook.png" alt="icon"/>
            facebook.com/FlaVoured
        </div>
        <div class="contact">
            <img src="/IMAGES/instagram.png" alt="icon"/>
            instagram.com/@FlaVoured
        </div>
        <div class="contact">
            <img src="/IMAGES/phone.png" alt="icon"/>
            +01 234567890
        </div>
    </footer>
</body>
</html>