<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/forgetpassSkin_0.css">
    <title>Flavoured/forget password</title>
</head>

<body>
    <%- include('./partials/errors.ejs') %>

    <form id="forgot-password-form" action="/user/confirm" method="get">
        <div class="flavoured">
            <header id="form">Recovery Form</header>
            <img src="/IMAGES/Flavoured_with_slogan-transformedd.png" alt="logo" />
        </div>
        <header>Email:
            <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
        </header>
        <div> <button type="submit">Submit <button type="button"><a href="/user/login"> Cancel </div>
    </form>
</body>

</html>