<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavoured/store</title>
    <link rel="stylesheet" href="/CSS/storeSkin_0.css" />
</head>

<body>
    <script type="text/javascript" src="/JS/navbar.js"></script>
    <section class="searchbar">
        <div class="bar">
            <input type="text" placeholder="i.e Flavour " required />
            <span class="type">
                <label><img src="/IMAGES/bottle.png" alt="liquid" /><input type="radio" name="state"
                        class="liquid" /></label>
                <label><img src="/IMAGES/powder.png" alt="powder" /><input type="radio" name="state"
                        class="powder" /></label>
            </span>
            <input type="color" name="color" value="#A84448" /><input type="button" value="Search" />
        </div>
    </section>
    <section class="items fade">
        <% prods.forEach(element => {%>
        <div class="product ">
            <img class="productimg" src="<%=element.imgUrl%>" alt="<%=element.imgUrl%>" />
            <details>
                <summary><%= element.name %></summary>
                <div class="productInfo">
                    Price : EGP <%=element.price %>
                    <label><img src="/IMAGES/bottle.png" alt="liquid" />Liquid
                        <input type="radio" name="state1" class="liquid" checked /></label>
                    <label><img src="/IMAGES/powder.png" alt="powder" />Powder
                        <input type="radio" name="state1" class="powder" /></label>
                    <label class="color">Shade :
                        <input type="color" value="#9A6751" /></label>
                    <div class="cart">
                        <button type="button" name="addtocart"><img src="/IMAGES/cart icon.png" alt="cart"></button>
                    </div>

                </div>
            </details>
        </div>
        <% }) %>
    <div id="pages">
        <span class="page" onclick="currentPage(1)">1</span>
        <span class="page" onclick="currentPage(2)">2</span>
        <span class="page" onclick="currentPage(3)">3</span>
        <span class="go">
            <a href="/user/cart">
                <img src="/IMAGES/gotocart.png" alt="go to cart"><span id="go"></span>
            </a></span>
        <script type="text/javascript" src="/JS/productsChange.js"></script>
        <script type="text/javascript" src="/JS/scrollfade.js"></script>
</body>

</html>